<div class="wrapper">
    <div class="aside-profile">
        <div class="basic-info-profile">
            <div class="image-avatar">
                <img src="{{currentUser?.image_url}}" alt="">
            </div>
            <div class="info-basic">
                <h4 class="info-username">{{currentUser?.username}}</h4>
                <p class="info-email">{{currentUser?.email}}</p>
            </div>
        </div>

        <div class="action-profile">
            <ul class="action-profile-list">
                <li class="action-profile-list-item">
                    <a routerLink="/my-account" routerLinkActive="item-active">Profile</a>
                </li>
                <li class="action-profile-list-item">
                    <a routerLink="/my-account/edit" routerLinkActive="item-active">Edit Profile</a>
                </li>
                <li class="action-profile-list-item">
                    <a routerLink="/my-account/change-password">Change password</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="profile-main">
        <div class="info-main">
            <h3 style="margin-top: 10px; font-size: 25px; text-align: center;">Thay đổi mật khẩu</h3>
            <div>
                <label for="oldPassword" class="label-input">Mật khẩu cũ</label>
                <input type="text" id="oldPassword" placeholder="Nhập mật khẩu cũ của bạn" [(ngModel)]="oldPassword" />
            </div>

            <div>
                <label for="newPassword" class="label-input">Mật khẩu mới</label>
                <input type="text" id="newPassword" placeholder="Nhập mật khẩu mới của bạn" [(ngModel)]="newPassword"/>
            </div>

            <div>
                <label for="confirmNewPassword" class="label-input">Xác nhận mật khẩu</label>
                <input type="text" id="confirmNewPassword" placeholder="Nhập lại mật khẩu mới của bạn" [(ngModel)]="confirmPassword"/>
            </div>

            <div class="action-buttons">
                <button type="button" class="btn btn-secondary btn-custom">Hủy</button>
                <button type="button" class="btn btn-primary btn-custom" (click)="handleChangePassword()">Cập nhật</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>